<%- include('partials/header') %>
<link rel="stylesheet" href="/style/auth.css">
<div class="signup-container">
    <h2>회원가입</h2>
    <form id="signupForm" action="/registerProc" method="post" enctype="multipart/form-data">
        
        <!-- 프로필 사진 선택 -->
        <div class="profile-pic-container">
            <img id="signupProfilePicPreview" src="/img/brewkrew.png" style="width: 100px; height: 100px; border-radius: 50%; margin-top: 10px; margin-right: 10px;">
            <label for="signupProfilePic" class="custom-file-upload" style="text-align: center;">프로필 사진 선택</label>
            <input type="file" id="signupProfilePic" accept="image/*" name="profilePic" style="display: none;">
        </div>

        <!-- 아이디 입력 -->
        <div class="input-group">
            <label for="brewers_id">아이디 <span class="required">*</span></label>
            <div class="input-with-button">
                <input type="text" id="brewers_id" name="brewers_id" placeholder="아이디를 입력해주세요." required>
                <button type="button" id="checkUsernameBtn">중복확인</button>
            </div>
            <span class="input-info">영문 소문자, 숫자만 허용(6자 이상)</span>
            <span id="usernameCheckMessage" class="message"></span>
        </div>

        <!-- 닉네임 입력 -->
        <div class="input-group">
            <label for="brewers_nickname">닉네임 <span class="required">*</span></label>
            <div class="input-with-button">
                <input type="text" id="brewers_nickname" name="brewers_nickname" placeholder="닉네임을 입력해주세요." required>
                <button type="button" id="checkNicknameBtn">중복확인</button>
            </div>
            <span class="input-info">한글, 영문, 숫자만 허용(한글 2자 이상, 영문 4자 이상)</span>
            <span id="nicknameCheckMessage" class="message"></span>
        </div>

        <!-- 비밀번호 입력 -->
        <div class="input-group">
            <label for="brewers_pw">비밀번호 <span class="required">*</span></label>
            <div class="input-with-button">
            <input type="password" id="brewers_pw" name="brewers_pw" placeholder="비밀번호를 입력해주세요." required>
            </div>
        </div>

        <!-- 비밀번호 확인 -->
        <div class="input-group">
            <label for="brewers_pwcheck">비밀번호 확인 <span class="required">*</span></label>
            <div class="input-with-button">
            <input type="password" id="brewers_pwcheck" name="brewers_pwcheck" placeholder="비밀번호를 다시 입력해주세요." required>
            </div>
            <span class="input-info">비밀번호는 6자 이상 사용해야 합니다.</span>
        </div>

        <!-- 회원가입 버튼 -->
        <button type="submit" style="width: 100%;">회원가입</button>
    </form>
</div>
<%- include('partials/footer') %>
<script src="/js/script.js"></script>
<script src="/js/effectiveness.js"></script>

